{% load i18n %}
<html>
    <head>
        <title>{% trans "Call" %} {{ representative.name }}</title>
    </head>
    <body>
        {% if messages %}
        {% for message in messages %}
        <div class="message {% if message.tags %}message--{{ message.tags }}{% endif %}"><div class="message__inner">{{ message }}</div></div>
        {% endfor %}
        {% endif %}

        <div class="container container--main">
            <h1>Contact U.S. Representative {{ representative.name }} and ask them about their next public meeting</h1>

            <p class="lead">{{ representative.name }} is the U.S. Representative for {{ representative.office.division.name }}.</p>

            <h2>Contact information</h2>
            <dl>
                {% for phone in representative.phones.all %}
                <dt>Phone</dt>
                <dd>{{ phone.phone }}</dd>
                {% endfor %}
                {% for email in representative.emails.all %}
                <dt>Email</dt>
                <dd><a href="mailto:{{ email.address }}">{{ email.address }}</a></dd>
                {% endfor %}
            </dl>

            <form action="" method="post">{% csrf_token %}
                <h2>Were you able to contact the representative?</h2>
                <div class="form-check-label">
                  <label class="form-check-label">
                    {{ forms.contact_attempt.contacted }}
                    I was able to contact this representative
                  </label>
                </div>

                <div class="form-group">
                    {{ forms.contact_attempt.notes }}
                </div>
                {{ forms.contact_attempt.method }}
                {{ forms.contact_attempt.official }}
                {{ forms.contact_attempt.user }}

                <h2>When is the representative's next townhall meeting?</h2>

                {% include "meetings/_meeting_form.html" with form=forms.next_meeting %}

                <h2>When was the representative's last meeting?</h2>

                {% include "meetings/_meeting_form.html" with form=forms.last_meeting %}

                <h2>What's the best way for constituents to learn about upcoming public meetings?</h2>

                <div class="form-group">
                    {{ forms.meeting_info_source.meeting_info_source }}
                </div>
                {{ forms.meeting_info_source.id }}

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

            {% if contact_attempts %}
            <h2>Previous contact attempts</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Who</th>
                        <th>Contacted?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact_attempt in contact_attempts %}
                    <tr>
                        <th>{{ contact_attempt.datetime }}</th>
                        <th>{{ contact_attempt.user }}</th>
                        <th>{{ contact_attempt.contacted }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </body>
</html>
