.body--call-us-reps {
  padding-bottom: 40px; }

.container--main {
  padding-top: 40px; }

.signin-form, .registration-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.message {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em; }

.message--success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d; }

.message__inner {
  margin: 0 auto; }

.register-link {
  display: block;
  margin-top: 1em; }
